airspeed==0.5.17
alabaster==0.7.12
anyio==3.3.1
argon2-cffi==21.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
blosc==1.10.4
bokeh==2.3.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cloudpickle==2.0.0
cmasher==1.6.2
cmocean==2.0
colorspacious==1.1.2
commonmark==0.9.1
confuse==1.5.0
contextvars==2.4
cycler==0.10.0
dask==2021.3.0
dataclasses==0.8 # NOTE: included in python >= 3.7
decorator==5.1.0
defusedxml==0.7.1
descartes==1.1.0
distributed==2021.3.0
docutils==0.17.1
dpath==2.0.5
e13tools==0.9.6
entrypoints==0.3
gnuplot-kernel==0.4.1
graphviz==0.17
h5py==3.1.0
HeapDict==1.0.1
idna==3.2
imageio==2.9.0
imagesize==1.2.0
immutables==0.16
importlib-metadata==4.8.1
imreg-dft==2.0.0
ipykernel==5.5.5
ipyparallel==7.0.1
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.17.2
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-bokeh==3.0.2
jupyter-client==7.0.3
jupyter-cms==0.7.0
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-qtconsole-colorschemes==0.8.1
jupyter-server==1.11.0
jupyterlab==3.1.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.1
jupyterlab-templates==0.3.1
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kiwisolver==1.3.1
lesscpy==0.15.0
libNeuroML==0.2.55
littleutils==0.2.2
lxml==4.6.3
MarkupSafe==2.0.1
matlab-kernel==0.16.11
matplotlib==3.3.4
metakernel==0.27.5
mistune==0.8.4
mizani==0.7.3
MorphIO==3.3.0
mpmath==1.2.1
msgpack==1.0.2
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
neo==0.9.0
nest-asyncio==1.5.1
nested-lookup==0.2.22
networkx==2.5.1
neurom==3.0.1
neuromllite==0.3.4
nixio==1.5.1
nodejs==0.1.1
nose==1.3.7
notebook==6.4.4
numpy==1.19.5
octave-kernel==0.32.0
optional-django==0.1.0
outdated==0.2.1
packaging==21.0
palettable==3.3.0
pandas==1.1.5
pandas-flavor==0.2.0
pandocfilters==1.5.0
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pingouin==0.3.12
plotly==5.3.1
plotnine==0.8.0
ply==3.11
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.10.0
PyLEMS==0.5.5
pylmeasure==0.2.0
pyNeuroML==0.5.11
pyparsing==2.4.7
pyqtgraph==0.11.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-magic==0.4.24
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
qimage2ndarray==1.8.3
qtconsole==5.1.1
QtPy==1.11.1
quantities==0.12.5
recommonmark==0.7.1
requests==2.26.0
requests-unixsocket==0.2.0
researchpy==0.3.2
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.8.0
sip==5.5.1.dev2011271026
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.12.2
sympy==1.8
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2020.9.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typing==3.7.4.3
typing-extensions==3.10.0.2
urllib3==1.26.6
viscm==0.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Whoosh==2.7.4
widgetsnbextension==3.5.1
wurlitzer==3.0.2
xarray==0.16.2
zict==2.0.0
zipp==3.5.0
