[Desktop Entry]
Comment[en_GB]=Scientific Python Environment for Neurophysiology
Comment=Scientific Python Environment for Neurophysiology
Exec=scipyen
GenericName[en_GB]=Scientific Python Environment for Neurophysiology
GenericName=Scientific Python Environment for Neurophysiology
Icon=pythonbackend
MimeType=
Name[en_GB]=Scipyen
Name=Scipyen
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
