[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/home/cezar/bin/scipyen_desktop.sh
GenericName[en_GB]=Scipyen
GenericName=Scipyen
Icon=pythonbackend
MimeType=
Name[en_GB]=Scipyen
Name=Scipyen
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
