[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=$HOME/scipyenv/scipyen/scipyen
GenericName[en_GB]=
GenericName=
Icon=pythonbackend
MimeType=
Name[en_GB]=Scipyen
Name=Scipyen
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=--hold
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
