# -*- coding: utf-8 -*-
# SPDX-FileCopyrightText: 2024 Cezar M. Tigaret <cezar.tigaret@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LGPL-2.1-or-later

jupyter
jupyter_cms 
jupyter_qtconsole_colorschemes 
jupyterthemes
qasync
aiohttp
numpy 
matplotlib 
scipy 
sympy
h5py 
pyqtgraph
pandas
seaborn # installs pandas if not already there
pingouin
statsmodels
confuse 
inflect 
cmocean
PyWavelets
quantities
python-neo
vigra
qimage2ndarray
scikit-image 
scikit-learn
pyxdg
pillow 
imageio
# --- optional
bokeh
graphviz
libNeuroML
matlab_kernel
octave_kernel
# # via pip
# pyabf
# nixio
# imreg-dft
# python-magic
# # --- optional
# modelspec
# researchpy
# gnuplot_kernel
# neuron
