# optional extra goodies if you plan to expand scipyen
jupyter_cms
jupyterlab
jupyterthemes
nodejs
pingouin
researchpy
scikit-learn
scikit-image
octave_kernel
gnuplot_kernel
matlab_kernel
language_tool_python
