jupyter
jupyter_cms 
jupyter_qtconsole_colorschemes 
jupyterthemes
numpy 
matplotlib 
scipy 
sympy
h5py 
pyqtgraph
pandas
seaborn # installs pandas if not already there
pingouin
statsmodels
confuse 
inflect 
cmocean
PyWavelets
quantities
python-neo
vigra
qimage2ndarray
scikit-image 
scikit-learn
pillow 
imageio
pyxdg
bokeh
# --- optional
graphviz
libNeuroML
matlab_kernel
octave_kernel
# via pip
pyabf
nixio
imreg-dft
python-magic
# --- optional
researchpy
modelspec
gnuplot_kernel
