# needed to build VIGRA
numpy           # needed to build VIGRA
sphinx          # needed to build VIGRA
nose            # needed to build VIGRA
confuse
PyQt5           # on Unix must build, see c_cpp_requirements_unix.txt
dill
