# needed to build VIGRA
numpy           # needed to build VIGRA
sphinx          # needed to build VIGRA
nose            # needed to build VIGRA
confuse
PyQt5           # on Unix must build, see c_cpp_requirements_unix.txt
dill
# AFTER installing PyQt5
jupyter
jupyter_qtconsole_colorschemes
matplotlib
viscm
scipy
sympy
pandas
pyqtgraph
nixio
neo
h5py
qimage2ndarray
imreg-dft
seaborn
statsmodels
pyxdg
python-magic
python-magic-bin
cmocean
cmasher
nibabel
twine
# tables # NOTE as of 2021-10-12 11:59:52 must compile from source if using Python >= 3.9.7
cython
bokeh
pytest
# also see nrn/docs/docs_requirements.txt
pyneuroml       # optional
pylmeasure      # optional
# optional extra goodies if you plan to expand scipyen
jupyter_cms
jupyterlab
jupyterthemes
nodejs
pingouin
researchpy
scikit-learn
scikit-image
octave_kernel
gnuplot_kernel
matlab_kernel
language_tool_python
pyabf
 
