# AFTER installing PyQt5, see pip_requirements_0.txt
jupyter
jupyter_qtconsole_colorschemes
matplotlib
viscm
scipy
sympy
pandas
pyqtgraph
nixio
neo
h5py
qimage2ndarray
imreg-dft
seaborn
statsmodels
pyxdg
python-magic
python-magic-bin
cmocean
cmasher
nibabel
twine
# tables # NOTE as of 2021-10-12 11:59:52 must compile from source if using Python >= 3.9.7
