# AFTER installing PyQt5, see pip_requirements_0.txt
jupyter
jupyter_qtconsole_colorschemes
matplotlib
viscm
scipy
sympy
pandas
pyqtgraph
nixio
neo
h5py
qimage2ndarray
imreg-dft
seaborn
statsmodels
pyxdg
python-magic
cmocean
cmasher
nibabel
twine
jupyter_cms
jupyterlab
jupyterthemes
nodejs
pingouin
researchpy
scikit-learn
scikit-image
octave_kernel
gnuplot_kernel
matlab_kernel
# language_tool_python
# tables # NOTE as of 2021-10-12 11:59:52 must compile from source if using Python >= 3.9.7
