numpy
scipy
sympy
matplotlib
cmocean
cmasher
viscm
scikit-learn
scikit-image
seaborn
quantities
pandas
nixio
neo
pyqtgraph
statsmodels
pingouin
pywavelets
researchpy
h5py
nose
sphinx
qimage2ndarray
imreg_dft
xarray
pyxdg
python-magic
nested_lookup
dpath
jupyter
jupyter_qtconsole_colorschemes
ipyparallel
jupyter_cms
jupyterlab
jupyterlab_templates
jupyterthemes
confuse
octave_kernel
gnuplot_kernel
matlab_kernel


